.containner
{
    background-color: black;
    width: 100px;
    height: 100px;
    /* position: relative;   */
    /* top: 100px; */
}
.child
{
    background-color: firebrick;
    width: 50px;
    height: 50px;
    color: aquamarine;
    position: relative;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    text-align: center;
    line-height: 50px;
    /* animation-name: jerry; */
    /* animation-duration: 3s; */
    /* animation-iteration-count: 2; */
    /* animation-timing-function:cubic-bezier(0.67, 1.03, 0.87, 0.07) ; */

}
.child:hover
{
    width: 90px;
    height: 50px;

    
}
/* @keyframes jerry
{
    0%
    {
       top: 0px;
       left: 25px;
    }
    25%
    {
         top: 25px;
         left: 50px;

    }
    50%
    {
       top: 50px;
       left: 25px;
    }
    75%
    {
          top: 50px;
          left: 40px;
    }
    90%
    {
       top: 10px;
       left: 50px;
    }
} */